
obj/Release/netcoreapp2.1/RecipeeWebsite.assets.cache
obj/Release/netcoreapp2.1/RecipeeWebsite.AssemblyInfoInputs.cache
obj/Release/netcoreapp2.1/RecipeeWebsite.AssemblyInfo.cs
obj/Debug/netcoreapp2.1/RecipeeWebsite.assets.cache
.vs/slnx.sqlite
.vs/RecipeWebsite/config/applicationhost.config
.vs/ProjectSettings.json
obj/Debug/netcoreapp2.1/RecipeeWebsite.assets.cache
.vs/RecipeWebsite/v16/.suo
.vs/VSWorkspaceState.json
bin/Debug/netcoreapp2.1/RecipeeWebsite.dll
bin/Debug/netcoreapp2.1/RecipeeWebsite.pdb
bin/Debug/netcoreapp2.1/RecipeeWebsite.runtimeconfig.dev.json
obj/Debug/netcoreapp2.1/RecipeeWebsite.assets.cache
obj/Debug/netcoreapp2.1/RecipeeWebsite.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/RecipeeWebsite.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.1/RecipeeWebsite.dll
obj/Debug/netcoreapp2.1/RecipeeWebsite.pdb
bin/Debug/netcoreapp2.1/RecipeeWebsite.dll
bin/Debug/netcoreapp2.1/RecipeeWebsite.pdb
bin/Debug/netcoreapp2.1/RecipeeWebsite.runtimeconfig.dev.json
obj/Debug/netcoreapp2.1/RecipeeWebsite.assets.cache
obj/Debug/netcoreapp2.1/RecipeeWebsite.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/RecipeeWebsite.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.1/RecipeeWebsite.dll
obj/Debug/netcoreapp2.1/RecipeeWebsite.pdb
