
obj/Release/netcoreapp2.1/RecipeeWebsite.assets.cache
obj/Release/netcoreapp2.1/RecipeeWebsite.AssemblyInfoInputs.cache
obj/Release/netcoreapp2.1/RecipeeWebsite.AssemblyInfo.cs
obj/Debug/netcoreapp2.1/RecipeeWebsite.assets.cache
.vs/slnx.sqlite
.vs/RecipeWebsite/config/applicationhost.config
.vs/ProjectSettings.json
obj/Debug/netcoreapp2.1/RecipeeWebsite.assets.cache
