@{
    ViewData["Title"] = "View All";
}
<link rel="stylesheet" type="text/css" href="~/css/ViewAll.css">
<h2>@ViewData["View All"]</h2>

<div class="image-banner">
    <img src="~/images/RecipeBanner.jpg" alt="IHCC Recipes" class="center"><br><br>
</div>

<h3>View All Recipes</h3>
<a href="url">Create New</a><br><br>

<div class="row">
    <div class="column-left">
        <button onclick="" class="recipe-link">Recipe 1</button><a href="url">Edit</a>-<a href="url">Delete</a><br><br>
        <button onclick="" class="recipe-link">Recipe 2</button><a href="url">Edit</a>-<a href="url">Delete</a><br><br>
        <button onclick="" class="recipe-link">Recipe 3</button><a href="url">Edit</a>-<a href="url">Delete</a><br><br>
        <button onclick="" class="recipe-link">Recipe 4</button><a href="url">Edit</a>-<a href="url">Delete</a><br><br>
        <button onclick="" class="recipe-link">Recipe 5</button><a href="url">Edit</a>-<a href="url">Delete</a><br><br>
    </div>
    <div class="column-right">
        <img src="~/images/nachos.jpg" alt="Recipe Image" class="center">
    </div>
</div>