@{
    ViewData["Title"] = "View All";
}
<link rel="stylesheet" type="text/css" href="~/css/ViewAll.css">
<h2>@ViewData["View All"]</h2>

<div class="image-banner">
    <img src="~/images/RecipeBanner.jpg" alt="IHCC Recipes" class="center"><br><br>
</div>

<h3>View All Recipes</h3>
<h4>Create New</h4>

<div class="row">
    <div class="column-left">
        <button onclick="" class="recipe-link">Recipe 1</button><button>Edit</button><button>Delete</button><br><br>
        <button onclick="" class="recipe-link">Recipe 2</button><button>Edit</button><button>Delete</button><br><br>
        <button onclick="" class="recipe-link">Recipe 3</button><button>Edit</button><button>Delete</button><br><br>
        <button onclick="" class="recipe-link">Recipe 4</button><button>Edit</button><button>Delete</button><br><br>
        <button onclick="" class="recipe-link">Recipe 5</button><button>Edit</button><button>Delete</button><br><br>
    </div>
    <div class="column-right">
        <img src="~/images/nachos.jpg" alt="Recipe Image" class="center">
    </div>
</div>