@{
    ViewData["Title"] = "View All";
}
<link rel="stylesheet" type="text/css" href="~/css/ViewAll.css">
<h2>@ViewData["View All"]</h2>

<img src="~/images/RecipeBanner.jpg" alt="IHCC Recipes" class="center">

<div class="row">
    <div class="column"><h3>left</h3></div>
    <div class="column"><h2>right</h2></div>
</div>