@{
    ViewData["Title"] = "View All";
}
<link rel="stylesheet" type="text/css" href="~/css/ViewAll.css">
<h2>@ViewData["View All"]</h2>

<img src="~/images/RecipeBanner.jpg" alt="IHCC Recipes" class="center"><br><br>

<div class="row">
    <div class="column-left">
        <button onclick="" class="recipe-link">Click Here</button><br><br>
        <button onclick="" class="recipe-link">Click Here</button><br><br>
        <button onclick="" class="recipe-link">Click Here</button><br><br>
        <button onclick="" class="recipe-link">Click Here</button><br><br>
        <button onclick="" class="recipe-link">Click Here</button><br><br>
    </div>
    <div class="column-right">
        <img src="~/images/RecipeBanner.jpg" alt="Recipe Image" class="center">
    </div>
</div>